h1{
    font-size: 24px;
    font-weight: 500;

}body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;

}body::-webkit-scrollbar {
    display: none;

    }header {
        background-image: url(Image/Header.jpg);
        background-size: cover;
        background-position: center;
        color: #fff;
        text-align: center;
        padding: 120px;

    }.ha {
            background-color: #00000074;
            padding: 20px;
            border-radius: 30px;

        }.ha h1{
            font-size: 32px;
            font-weight: 1000;
        
    }nav#navbar {
        background-color: rgb(56, 29, 84);
        color: #fff;
        margin-top: -16px;

    }nav ul {
        list-style: none;
        padding-left: 0;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 18px;

    }nav li {
        display: inline;

    }nav a {
            text-decoration: none;
            color: #fff;
            display: inline-block; /* Set display to inline-block */
            padding: 20px; /* Adjust the padding to add space around the text */
            transition: background-color 0.3s ease; /* Add a smooth transition effect */

     } nav a:hover {
                background-color: rgba(255, 255, 255, 0.2); /* Change the background color on hover */

        }.kanan {
                float: right;
                margin-right: 40px;

    }main {
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
        padding-right: 20px;
    
        }#sidebar-left {
            /* flex: 1; */
            margin-left: 20px ;
            width: 1140px;
            height: fit-content;

            }.konten1 {
                background-color: rgb(31, 26, 62);
                color: aliceblue;
                padding: 24px 0px 0px 24px;
                margin-bottom: 20px;
                min-height: 100vh;

            }.konten2 {
                background-color: rgb(31, 26, 62);
                color: aliceblue;
                padding: 24px 24px 60px 24px;
                margin-bottom: 20px;
                padding-bottom: 4%;  

                }div.gallery {
                    margin: 12px;
                    border: 1px solid #ccc;
                    float: left;
                    width: 246px;

                }div.gallery:hover {
                    border: 1px solid #777;

                }div.gallery img {
                    width: 100%;
                    height: auto;

                }div.desc {
                    padding: 24px;
                    text-align: center;

                }.gambar{
                        overflow: hidden;
                        width: 97%;
                        height: 300px;
                        display: flex;

        }#sidebard-right{
            width: fit-content;
            height: auto;
            
            }.card1{
                color: aliceblue;
                padding: 15px;
                background-color: rgb(56, 29, 84);
                
            }.card2{
                color: aliceblue;
                padding: 15px;
                background-color: rgb(56, 29, 84);
                margin-top: 25px;

            }.card3{
                color: aliceblue;
                padding: 15px;
                background-color: rgb(56, 29, 84);
                margin-top: 25px;
                
                

                }.dalam{
                    background-color: rgb(79, 46, 111);
                    padding: 25px;
                }

footer {
    background-color: rgb(56, 29, 84);
    color: #fff;
    text-align: center;
    padding: 10px;
}
